
<%- include('../template/head.ejs')-%>
<%- include('../template/nav.ejs')-%>

<body class="container mx-auto p-3">
    <h1 class="text-4xl font-bold">
        Send anything you want to your email.
    </h1>
    <p>You ever send a file or image to your email so you can access it on another device? Now you don't need to! Just upload your file & we will send it to you straight away!</p>
</body>